
body{
    /*Se ha visto un cambio en la letra de todo el documento*/
font-family: Georgia, serif;
background-color: #f4f6f9;
color: #333;
margin: 0;
padding: 0;
}
header{
background-color: #0d47a1;
color: white;
text-align: center;
padding: 1.5rem;
}
.tarjeta{
    border-style: dotted;
    border-color: blueviolet;
    padding: 20px;
    text-shadow: red;
}
H1{
margin: 0;
}
subtitulo{
font-style: italic;
color: #bbdefb;
}
/* Contenido principal */
main{
padding: 1rem 2rem;
}
h2{
color: #1565c0;
border-bottom: 2px solid #1565c0;
}
/* Listas */
ul{
list-style-type: circle;
padding: 3px 70px;
}
li{
margin: 0.5rem 0;
}
button{
    display: block;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(102, 25, 112);
    color: white;
    border: tomato;
    border-radius: 30px;
    }
/* Pie de página */
footer{
text-align: center;
background-color: #e3f2fd;
padding: 1rem;
font-size: 0.9rem;
}
